.header {
  height: 3rem;
}
.header nav {
  height: 100%;
}

.header ul {
  height: 86px;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.header li {
  margin: 2rem;
  width: 5.4rem;
  font-weight: bold;
  font-size: 
}

.header a {
  color: #000000;
  text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #e85a4f;
}
